[submodule "live-stream-on-aws"]
	path = live-stream-on-aws
	url = https://github.com/awslabs/live-stream-on-aws.git
[submodule "amazon-cloudfront-access-logs-queries"]
	path = amazon-cloudfront-access-logs-queries
	url = https://github.com/aws-samples/amazon-cloudfront-access-logs-queries.git
