/.env
/cfn/packaged.template

# Ignore all the libraries installed via pip
cfn/cr-media-connect/*

# But include the Lambda code
!cfn/cr-media-connect/media_connect.py
!cfn/cr-media-connect/requirements.txt
