/.custom.mk
/.build
/venv/

# Ignore all the libraries installed via pip
source/cr-media-connect/*

# But include the Lambda code
!source/cr-media-connect/media_connect.py
!source/cr-media-connect/requirements.txt

/cfn/packaged.template
